[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font-family: FontAwesome!important;
  font: normal normal normal 14px/1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

@import "~assets/sass/font-awesome/font-awesome.scss";
// @fa-css-prefix: el-icon-fa;
